* {
    --primary-color: pink;
    --bg-amarillo: rgb(231, 198, 14);
    --bg-rojo: rgb(231, 10, 10);
    --bg-azul: rgb(7, 7, 225);
    --bg-negro: rgb(20, 19, 19);
    --bg-blanco: rgb(255, 255, 255);
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-negro);
}

#contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "rojo1"
    "rojo2"
    "azul1"
    "amarillo1"
    "bauhaus"
    "blanco"
    "azul2"
    "amarillo2";
    gap: 1em;
    background-color: var(--bg-negro);
}

div {
    padding: 25px;
}

#rojo1 {
    grid-area: rojo1;
    background-color: var(--bg-rojo);
}

#rojo2 {
    grid-area: rojo2;
    background-color: var(--bg-rojo);
}

#azul1 {
    grid-area: azul1;
    background-color: var(--bg-azul);
}

#amarillo1 {
    grid-area: amarillo1;
    background-color: var(--bg-amarillo);
}

h1 {
    font-size: 5em;
    font-weight: bolder;
    text-align: center;
}

p {
    text-align: center;
}

#bauhaus {
    grid-area: bauhaus;
    background-color: var(--bg-blanco);
}

#blanco {
    grid-area: blanco;
    background-color: var(--bg-blanco);
}

#azul2 {
    grid-area: azul2;
    background-color: var(--bg-azul);
}

#amarillo2 {
    grid-area: amarillo2;
    background-color: var(--bg-amarillo);
}

img {
    border-radius: 100%;
}

@media screen and (min-width: 768px) {
    #contenedor {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 70px 600px 70px 90px 500px;
        grid-template-areas: 
        "azul1 azul1 azul1"
        "bauhaus bauhaus bauhaus"
        "blanco azul2 amarillo2"
        "rojo1 rojo2 rojo2"
        "amarillo1 rojo2 rojo2";
    }

    #rojo1 {
        grid-area: rojo1;
        margin-top: 1em;
    }

    #amarillo1 {
        grid-area: amarillo1;
    }

    #rojo2 {
        grid-area: rojo2;
        margin-top: 1em;
    }
}

@media screen and (min-width: 1024px) {
#contenedor {
        grid-template-columns: 9em 25% 1fr 1fr 1fr;
        grid-template-rows: 95px 30px 3fr 70px;
        grid-template-areas:
        "rojo1 rojo2 azul1 azul1 azul1"
        "rojo1 rojo2 bauhaus bauhaus bauhaus"
        "amarillo1 rojo2 bauhaus bauhaus bauhaus"
        "amarillo1 rojo2 blanco azul2 amarillo2";
    }

    h1 {
        text-align: right;
        margin-right: 0.3em;
    }

    p {
        text-align: right;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    #azul1 {
        margin-top: 1em;
    }

    #rojo2 {
        margin-right: 1em;
    }
}